<template>
  <div v-if="delivery">
    <modal-window v-model="show" @ok="createSubmit()" @cancel="cancel()" @closed="onClose()" title="Editácia dodávky" cancelText="Zrušïť" okText="Uložiť" :medium="true">
      <form>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group" :class="{ 'has-error': errors.has('order') }">
              <label>Objednávka</label>
              <v-select v-model="delivery.order" :options="orderOptions"></v-select>
              <input type="hidden" v-model="delivery.order" name="order" id="order" v-validate="'required'">
              <p class="text-danger" v-if="errors.has('order')">{{ errors.first('order') }}</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group" :class="{ 'has-error': errors.has('period') }">
              <label>Obdobie</label>
              <date-select v-model="delivery.period"></date-select>
              <input type="hidden" v-model="delivery.period" name="period" id="period" v-validate="'required'">
              <p class="text-danger" v-if="errors.has('period')">{{ errors.first('period') }}</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group" :class="{ 'has-error': errors.has('mdNumber') }">
              <label for="mdNumber">Počet MD</label>
              <input type="number" class="form-control" id="mdNumber" placeholder="Zadaj počet MD" v-model.trim="delivery.mdNumber" name="mdNumber" min="1" v-validate="'required|numeric|min_value:1'">
              <p class="text-danger" v-if="errors.has('mdNumber')">{{ errors.first('mdNumber') }}</p>
            </div>
          </div>
        </div>
      </form>
    </modal-window>
  </div>
</template>

<script>
  import { mapState } from 'vuex';
  import _ from 'lodash';
  import modal from 'vue-strap/src/Modal';
  import notificationService from 'services/notificationService';
  import vSelect from 'vue-select';
  import dateSelect from 'components/dateSelect';
  import TmDelivery from "../domain/tmDelivery";

  export default {
    components: {modalWindow: modal, vSelect, dateSelect},
    data: () => ({
      show: false,
      delivery: null
    }),
    computed: mapState({
      orderOptions: (state) => state.tmProject.selected.deliveryOrders
    }),
    props: {
      showModel: {
        type: Boolean,
        default () {
          return false;
        }
      },
      model: {
        type: Object
      }
    },
    methods: {
      createSubmit() {
        this.protect();
        this.$validator.validateAll().then((res) => {
          if (res) {
            let operation;
            if (this.delivery.id) {
              operation = 'tmDelivery/update';
            } else {
              operation = 'tmDelivery/create';
            }
            const delivery = _.cloneDeep(this.delivery);
            this.$store.dispatch(operation, delivery).then((result) => {
              if (result) {
                notificationService.success('delivery.edit.success');
                this.$emit('close');
              } else {
                this.unprotect();
              }
            }).catch(this.unprotect);
          } else {
            this.unprotect();
          }
        }).catch(this.unprotect);
      },
      clear() {
        this.delivery = null;
        this.$nextTick(() => {
          this.errors.clear();
        });
      },
      cancel() {
        this.$emit('close');
      },
      onClose() {
        this.unprotect();
        this.clear();
      }
    },
    watch: {
      showModel(showModel) {
        this.show = showModel;
      },
      model: function (model) {
        this.delivery = new TmDelivery(model);
      }
    }
  }
</script>
