<template>
  <div>
    <div class="content-header">
      <h1>Zamestnanci</h1>
    </div>

    <section class="content">
      <div class="box">
        <div class="box-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" v-model="query" class="form-control" placeholder="Vyhľadaj podľa mena.">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p>
                <button class="btn btn-success" type="button" @click="createShow()"><i class="fa fa-plus"
                                                                                       aria-hidden="true"></i>
                  Pridať zamestnanca
                </button>
                <employee-modal :show-model="showCreateModal" :model="selectedEmployee"  @close="hideModals()"></employee-modal>
              </p>
            </div>
          </div>
          <div class="row" v-if="employees.length">
            <div class="col-md-12">
              <table class="table">
                <thead>
                <tr>
                  <th>Meno</th>
                  <th>Priezvisko</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <template v-for="employee in employees">
                  <tr :class="{inactive : !employee.active}">
                    <td>{{ employee.firstName }}</td>
                    <td>{{ employee.surname }}</td>
                    <td class="text-right">
                      <button class="btn btn-xs btn-link" @click.prevent="editEmployee(employee)"><i
                        class="fa fa-2x fa-pencil-square-o text-primary" title="Editovať"></i></button>
                      <button class="btn btn-xs btn-link" @click.prevent="toggleEmployeeActive(employee)"><i
                        :class="{'fa-toggle-on': employee.active, 'fa-toggle-off text-success': !employee.active}"
                        class="fa fa-2x" :title="employee.active ? 'Deaktivovať' : 'Aktivovať'"></i></button>
                      <button class="btn btn-xs btn-link" @click.prevent="deleteEmployee(employee)"><i
                        class="fa fa-2x fa-times text-danger" title="Zmazať"></i></button>
                    </td>
                  </tr>
                </template>
                </tbody>
              </table>
            </div>
          </div>
          <div v-else-if="loading" class="text-center">
            <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
          </div>
          <div v-else class="row">
            <div class="col-md-12">
              <alert type="warning">Žiadny zamestnanec neexistuje.</alert>
            </div>
          </div>
        </div>
      </div>
    </section>


  </div>
</template>
<script>
  import _ from 'lodash';
  import {alert} from 'vue-strap';
  import {mapState} from 'vuex';
  import employeeModal from 'components/employeeCreateModal';
  import notificationService from 'services/notificationService';
  import employeeService from 'services/employeeService';

  export default {
    components: {alert, employeeModal},
    data: () => ({
      showCreateModal: false,
      showChangePasswordModal: false,
      selectedEmployee: null,
      query: null
    }),
    computed: mapState({
      loading: (state) => state.app.loadingData,
      employees(state) {
        let allEmployees = state.employee.items;
        if (this.query) {
          let regexp = new RegExp(this.query.toLowerCase(), "g");
          return allEmployees.filter(employee => !!employee.firstName.toLowerCase().match(regexp)
            || !!employee.surname.toLowerCase().match(regexp)
            || !!(employee.firstName + " " + employee.surname).toLowerCase().match(regexp));
        } else {
          return allEmployees;
        }
      }
    }),
    methods: {
      createShow() {
        this.selectedEmployee = employeeService.newEmployee();
        this.showCreateModal = true;
      },
      hideModals() {
        this.showCreateModal = false;
        this.showChangePasswordModal = false;
      },
      deleteEmployee(employee) {
        this.confirm('employee.delete.confirmation', [employee.fullName]).then(() => {
          this.$store.dispatch('employee/delete', employee.id).then((result) => {
            if (result) {
              notificationService.success('employee.delete.confirmation');
            }
          }).catch(this.unprotect);
        });
      },
      toggleEmployeeActive(employee) {
        let action = employee.active ? 'deactivate' : 'activate';
        this.$store.dispatch('employee/' + action, employee.id).then((result) => {
          if (result) {
            notificationService.success('employee.' + action + '.success');
          } else {
            notificationService.error('error.' + action + '.deactivate');
          }
        });
      },
      editEmployee(employee) {
        this.selectedEmployee = _.cloneDeep(employee);
        this.showCreateModal = true;
      },
      changePassword(employee) {
        this.selectedEmployee = _.cloneDeep(employee);
        this.showChangePasswordModal = true;
      }
    },
    created() {
      this.$store.dispatch('employee/getAll')
    }
  }
</script>
