<template>
  <div class="login-page">
    <div class="login-box">
      <div class="login-logo">
        <a><b>BrainIs</b></a>
      </div>
      <div class="login-box-body">
        <form>
          <div class="form-group" :class="{ 'has-error': errors.has('username') }">
            <label for="username">Prihlasovacie meno</label>
            <input class="form-control" id="username" placeholder="Zadaj svoje prihlasovacie meno" v-model="credentials.username" name="username" v-validate="'required'">
            <p class="text-danger" v-if="errors.has('username')">{{ errors.first('username') }}</p>
          </div>
          <div class="form-group" :class="{ 'has-error': errors.has('password') }">
            <label for="password">Heslo</label>
            <input class="form-control" id="password" placeholder="Zadaj svoje heslo" v-model="credentials.password" name="password"  type="password" v-validate="'required'">
            <p class="text-danger" v-if="errors.has('password')">{{ errors.first('password') }}</p>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="pull-right">
                <button class="btn btn-primary btn-block btn-flat" type="submit" @click.prevent="login(credentials)">Prihlásiť</button>
              </div>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</template>

<script>
  export default {
    data: () => ({
      credentials: {username: '', password: ''}
    }),
    methods: {
      async login(credentials) {
        this.$validator.validateAll().then(() => {
          this.$store.dispatch('auth/logIn', credentials).then((loggedIn) => {
            if (loggedIn) {
              this.$router.push('/overview');
            }
          });
        }).catch(() => {
          //nothing
        });
      }
    }
  }

</script>
