<template>
  <div>
    <div class="content-header">
      <h1>Kontrakty</h1>
    </div>

    <section class="content">
      <div class="box">
        <div class="box-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" v-model="query" class="form-control" placeholder="Vyhľadaj podľa názvu.">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p>
                <button class="btn btn-success" type="button" @click="createShow()"><i class="fa fa-plus" aria-hidden="true"></i>
                  Pridať kontrakt
                </button>
                <tmProject-modal :show-model="showCreateModal" :model="selectedTmProject"  @close="hideModals()"></tmProject-modal>
              </p>
            </div>
          </div>
          <div class="row" v-if="projects.length">
            <div class="col-md-12">
              <table class="table">
                <thead>
                <tr>
                  <th>Názov</th>
                  <th>Zákazník</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <template v-for="tmProject in projects">
                  <tr>
                    <td>{{ tmProject.name }}</td>
                    <td>{{ tmProject.customer.name }}</td>
                    <td class="text-right">
                      <button class="btn btn-xs btn-link" @click.prevent="editTmProject(tmProject)"><i class="fa fa-2x fa-pencil-square-o text-primary" title="Editovať"></i></button>
                      <button class="btn btn-xs btn-link" @click.prevent="deleteTmProject(tmProject)"><i class="fa fa-2x fa-times text-danger" title="Zmazať"></i></button>
                      <button class="btn btn-xs btn-link" @click.prevent="detail(tmProject)"><i class="fa fa-2x fa-search" title="Detail"></i></button>
                    </td>
                  </tr>
                </template>
                </tbody>
              </table>
            </div>
          </div>
          <div v-else-if="loading" class="text-center">
            <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
          </div>
          <div v-else class="row">
            <div class="col-md-12">
              <alert type="warning">Žiadny kontrakt neexistuje.</alert>
            </div>
          </div>
        </div>
      </div>
    </section>


  </div>
</template>
<script>
  import _ from 'lodash';
  import {alert} from 'vue-strap';
  import {mapState} from 'vuex';
  import tmProjectModal from 'components/tmProjectCreateModal';
  import notificationService from 'services/notificationService';
  import tmProjectService from 'services/tmProjectService';

  export default {
    components: {alert, tmProjectModal},
    data: () => ({
      showCreateModal: false,
      selectedTmProject: null,
      query: null
    }),
    computed: mapState({
      loading: (state) => state.app.loadingData,
      projects(state) {
        let allTmProjects = state.tmProject.items;
        if (this.query) {
          let regexp = new RegExp(this.query.toLowerCase(), "g");
          return allTmProjects.filter(tmProject => !!tmProject.name.toLowerCase().match(regexp));
        } else {
          return allTmProjects;
        }
      }
    }),
    methods: {
      createShow() {
        this.selectedTmProject = tmProjectService.newTmProject();
        this.showCreateModal = true;
      },
      hideModals() {
        this.showCreateModal = false;
      },
      deleteTmProject(tmProject) {
        this.confirm('tmProject.delete.confirmation', [tmProject.fullName]).then(() => {
          this.$store.dispatch('tmProject/delete', tmProject.id).then((result) => {
            if (result) {
              notificationService.success('tmProject.delete.confirmation');
            }
          }).catch(this.unprotect);
        });
      },
      editTmProject(tmProject) {
        this.selectedTmProject = _.cloneDeep(tmProject);
        this.showCreateModal = true;
      },
      detail(tmProject) {
        this.$router.push({ name: 'tmProjectDetail', params: { id: tmProject.id }});
      }
    },
    created() {
      this.$store.dispatch('tmProject/getAll')
    }
  }
</script>
